.name {
  font-family: 'Pacifico', cursive;
  font-size: 70px;
  text-align: center;
  color: #00171f;
  padding-top: 10px;
}

.parent {
  display: flex;
  text-align: center;
  color: #003459;
}

.home {
  flex-grow: 1;
  flex-basis: 0;
  margin: 25px;
  font-family: 'Poiret One', cursive;
  font-size: 25px;
}

.home:hover {
  color: #00a8e8;
}

.about {
  flex-grow: 1;
  flex-basis: 0;
  margin: 25px;
  font-family: 'Poiret One', cursive;
  font-size: 25px;
}

.about:hover {
  color: #00a8e8;
}

.school {
  flex-grow: 1;
  flex-basis: 0;
  margin: 25px;
  font-family: 'Poiret One', cursive;
  font-size: 25px;
}

.school:hover {
  color: #00a8e8;
}

.navbar {
  text-decoration: none;
  color: inherit;
}

.introparagraph {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.paragraph {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: 40px;
  display: inline-block;
}

.pics {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.snowboard {
  flex-grow: 1;
  flex-basis: 0;
  display: block;
}

.travel {
  flex-grow: 1;
  flex-basis: 0;
  display: block;
}

.surf {
  flex-grow: 1;
  flex-basis: 0;
  display: block;
}
